# Python
__pycache__/
*.py[cod]

# Data Science
*.csv
*.tsv
*.log
*.pkl
*.h5
*.sqlite
*.db

# DVC
.dvcignore

# Docker
minio_data/

# VS Code
.vscode/
.devcontainer/

# Outros
.DS_Store
.obsidian/workspace.json
.obsidian/workspace.json
docker-compose.yml.bak
*.log
